

/* ********** HeroImage ********** */
.sobre-image {
    background: url('../img/image-skills.jpg') center / cover no-repeat;
    /* background-image: var(--hero-image); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        /* background-attachment: var(--hero-attachment); */
  }

  .hero-image-content{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-contenido);
    /* border: steelblue solid 1px; */
  }
  
  .hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
  } 


  
  .sobre-descripcion{
    width: 840px;
    /* display:flex; */
    justify-content: space-between;
    margin: 10% 0% 0% 0%; 
    padding: 8% 0% 0% 0% ;
    justify-content: center;
    align-items: center;  
    text-align: justify center;
    /* border: red solid 1px;    */
    }

    .sobre-descripcion-centro {
      padding-bottom: 5rem;
      /* padding-left: 0px; */
      /* padding-top: 10px; */
      /* margin-top: 5%; */
      /* margin-left: 0px; */
      /* float: left; */
      /* position: relative; */
      width: 100%;
      /* border: steelblue solid 1px; */
      height: auto;
      align-items:center;
      
    }

    .sobre-parrafo {
      width: 100%;
      color: var(--gray-dark-color);
      /* color: rgba(221,223,231,1); */
      /* position: absolute; */
      position: relative;
      top: 0px;
      left: 0px;
      /* font-family: Raleway; */
      font-weight: Bold;
      font-size: 0.9rem;
      opacity: 1;
      text-align: justified;
      /* padding-left: 0px;
      padding-top: 5px;   
      padding-bottom: 0px; */
      padding: 5px 4rem;
      Line-height: 140%;
      margin: 10px 0px;
      }

    .firma{
     width: 15%;
    margin-left: 30rem;
     /* align-items:left; */
    }